@font-face {
  font-family: "Raleway-Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Raleway/RalewayWebMedium.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Raleway/RalewayWebRegular.woff") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Raleway-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Raleway/RalewayWebLight.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html {
  font-size: 16px;
  @include medium_down {
    font-size: 14px
  }
}
body {
  @extend %raleway_base;
  font-size: 1em;
  line-height: 1.45;
  font-variant-caps: normal;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

// http://type-scale.com/ A visual Type Scale - perfect fourth
h1, .h1 {
  margin-top: 0;
  font-size: 3.157em; // 50
  @include medium_down {
    font-size: 2.441em;
  }
}
h2, .h2 {
  font-size: 2.369em; // 38
  @include medium_down {
    font-size: 1.953em;
  }
}
h3, .h3 {
  font-size: 1.777em; // 28
  margin-bottom: 1.414em;
  @include medium_down {
    font-size: 1.563em;
  }
}
h4, .h4 {
  font-size: 1.333em; // 21
  @include medium_down {
    font-size: 1.25em;
  }
}
small, .font-small {
  font-size: .75em; // 12px
  @include medium_down {
    font-size: .8em;
  }
}
b, strong {
  @extend %raleway_bold;
}
p {
  font-size: 1em;
}
p + p {
  margin-top: 1.3em;
}
a, a:visited {
  color: $gray;
  text-transform: uppercase;
  transition: color .3s ease;
  .lowercase {
    text-transform: capitalize;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}